:root {
  /* Base Colors from Pallete 01 */
  /* Primary Colors */
  --cyan-050: #e0fcff;
  --cyan-100: #bef8fd;
  --cyan-200: #87eaf2;
  --cyan-300: #54d1db;
  --cyan-400: #38bec9;
  --cyan-500: #2cb1bc;
  --cyan-600: #14919b;
  --cyan-700: #0e7c86;
  --cyan-800: #0a6c74;
  --cyan-900: #044e54;

  /* Neutral Colors */
  --grey-050: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;

  /* Supporting Colors */
  --indigo-050: #e0e8f9;
  --indigo-100: #bed0f7;
  --indigo-200: #98aeeb;
  --indigo-300: #7b93db;
  --indigo-400: #647acb;
  --indigo-500: #4c63b6;
  --indigo-600: #4055a8;
  --indigo-700: #35469c;
  --indigo-800: #2d3a8c;
  --indigo-900: #19216c;

  --pink-050: #ffe0f0;
  --pink-100: #fab8d9;
  --pink-200: #f191c1;
  --pink-300: #e668a7;
  --pink-400: #da4a91;
  --pink-500: #c42d78;
  --pink-600: #ad2167;
  --pink-700: #9b1b5a;
  --pink-800: #781244;
  --pink-900: #5c0b33;

  --red-050: #ffeeee;
  --red-100: #facdcd;
  --red-200: #f29b9b;
  --red-300: #e66a6a;
  --red-400: #d64545;
  --red-500: #ba2525;
  --red-600: #a61b1b;
  --red-700: #911111;
  --red-800: #780a0a;
  --red-900: #610404;

  --yellow-050: #fffaeb;
  --yellow-100: #fcefc7;
  --yellow-200: #f8e3a3;
  --yellow-300: #f9da8b;
  --yellow-400: #f7d070;
  --yellow-500: #e9b949;
  --yellow-600: #c99a2e;
  --yellow-700: #a27c1a;
  --yellow-800: #7c5e10;
  --yellow-900: #513c06;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--grey-900);
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--indigo-400));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--cyan-300));
}

/* Base styles for the form */
.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: var(--grey-050);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%; /* Use the full width of the form container */
}

h1,
h2 {
  text-align: center;
  color: var(--grey-900); /* Dark text for better contrast */
  margin-bottom: 20px; /* Spacing after headings */
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px; /* Space between each form field */
}

label {
  display: block;
  color: var(--grey-900);
  margin-bottom: 5px; /* Space between label and input */
}

input[type="text"],
input[type="date"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--grey-200); /* Light grey border */
  border-radius: 4px;
  max-width: 400px; /* Set a max-width to prevent fields from stretching too wide */
}

input[type="checkbox"] {
  margin-top: 5px; /* Space above the checkbox */
}

button[type="submit"] {
  padding: 10px;
  border: none;
  background: var(--grey-900); /* Dark background for the button */
  color: var(--grey-050);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* Space above the submit button */
}

.error-message {
  color: var(--red-500); /* Red text for errors */
  font-size: 0.85em;
  margin-top: 5px; /* Space above the error message */
}

/* App.css */
.App-logo {
  height: 40px; /* Adjust the size of the logo as needed */
  margin-right: 20px; /* Space between logo and nav items */
  border: var(--grey-900) 1px solid; /* Border around the logo */
  border-radius: 50%; /* Make the logo circular */
}

nav {
  display: flex;
  align-items: center; /* Align logo and links vertically */
  justify-content: center; /* Center the navigation bar */
  background-color: var(--grey-050); /* Background color of the nav bar */
  padding: 10px 20px; /* Padding around the nav bar */
  border-radius: 5px;
}

nav a {
  background-color: var(--grey-100);
  padding: 5px;
  border-radius: 5px;
}

nav a:hover {
  background-color: var(--grey-200);
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px; /* Space between nav items */
}

li a {
  text-decoration: none;
  color: var(--grey-900); /* Color of the nav links */
}

/* Active Styles */

.active-link {
  background-color: var(--grey-200);
}

/* Table Styles */
.table-container,
.contact-details,
.site-details {
  padding: 20px;
  background-color: var(--grey-050);
  margin-top: 20px;
}

.job-table,
.job-sites-table {
  width: 100%;
  border-collapse: collapse;
}

.job-table th,
.job-table td,
.job-sites-table th,
.job-sites-table td {
  border: 1px solid var(--grey-100);
  padding: 8px;
  text-align: left;
}

.job-table thead,
.job-sites-table thead {
  background-color: var(
    --grey-050
  ); /* Match this with the navbar background color */
}

.job-table th,
.job-sites-table th {
  font-weight: bold;
  color: var(--grey-900);
}

/* Pagination Styles */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: var(--grey-600); /* Default background */
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-btn.active {
  background-color: var(--indigo-500); /* Active page background */
}

.home,
.graph,
.pie-chart {
  background-color: var(--grey-050);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.graph-info {
  color: var(--grey-900);
  font-size: 1em;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--grey-900);
}

.metrics-container,
.metrics-notes {
  background-color: var(--grey-050);
  color: var(--grey-900);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.metrics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--grey-900);
}

.metrics p {
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
}

.all-metrics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
  color: var(--grey-900);
}

.metrics-container {
  text-align: center; /* Center the metrics container */
}

.metrics-notes {
  width: 80%; /* Adjust width as needed */
  margin: auto; /* Center the container */
}

table {
  width: 100%; /* Make the table occupy the full width of its container */
  margin: 20px auto; /* Center the table and give some space around it */
  border-collapse: collapse; /* Collapse borders */
}

table,
th,
td {
  border: 1px solid #ddd; /* Add border to the table */
}

th,
td {
  padding: 8px; /* Add padding to table cells */
  text-align: left; /* Left align text in cells */
}

th {
  background-color: #f2f2f2; /* Background color for header */
  font-weight: bold; /* Make header text bold */
}

.application-notes {
  text-align: left; /* Left align application notes */
  margin-top: 20px; /* Space above the notes */
}

td {
  text-align: left; /* Align table data to the left */
}

td:nth-child(2) {
  text-align: right; /* Align data values to the right */
}

/* JobContactForm Styles */

.job-contact-form,
.job-site-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: var(--grey-050);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.job-contact-form form {
  width: 100%;
}

.job-contact-form h1,
.job-contact-form h2 {
  text-align: center;
  color: var(--grey-900);
  margin-bottom: 20px;
}

.job-contact-form form div {
  margin-bottom: 15px;
}

.job-contact-form label {
  display: block;
  color: var(--grey-900);
  margin-bottom: 5px;
}

.job-contact-form input[type="text"],
.job-contact-form input[type="date"],
.job-contact-form input[type="email"],
.job-contact-form input[type="tel"],
.job-contact-form input[type="url"],
.job-contact-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--grey-200);
  border-radius: 4px;
  max-width: 400px;
}

.job-contact-form input[type="checkbox"] {
  margin-top: 5px;
}

.job-contact-form button[type="submit"] {
  padding: 10px;
  border: none;
  background: var(--grey-900);
  color: var(--grey-050);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.job-contact-form .error-message {
  color: var(--red-500);
  font-size: 0.85em;
  margin-top: 5px;
}

/* JobList Styles */

.table-container {
  overflow-x: auto; /* Ensures the table is scrollable horizontally if it overflows */
  border-radius: 5px;
}

.contacts-table {
  width: 100%; /* Makes the table use up all available space */
  table-layout: fixed; /* Ensures columns are of a fixed width */
  border-collapse: collapse; /* Collapses the borders */
  font-size: 0.8em; /* Makes the text of each column smaller */
}

.contacts-table th,
.contacts-table td {
  text-align: left; /* Aligns text to the left */
  padding: 8px; /* Adds some padding around the content */
}

.contacts-table th {
  position: sticky; /* Makes the headers "sticky" at the top when scrolling */
  top: 0;
  background-color: #fff; /* Change as needed */
  z-index: 10;
}

.pagination-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

/* Contact and Site Detail Styles */

/* Shared Styles for Contact and Site Details */

.contact-details,
.site-details {
  text-align: left;
  max-width: 800px; /* Adjust as needed */
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}

.contact-details .section,
.site-details .section {
  margin-bottom: 20px;
}

.contact-details h3,
.site-details h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 1.2em;
}

.contact-details p,
.site-details p {
  margin-left: 20px;
  margin-bottom: 5px;
}

.contact-details a,
.site-details a {
  color: var(--indigo-600);
  text-decoration: none;
}

.contact-details a:hover,
.site-details a:hover {
  text-decoration: underline;
}

.application-notes {
  font-size: 0.75em;
}

/* JobList Styles - Modal */

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 5px;
}

.modal-content {
  background-color: var(--grey-050);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--grey-200);
  width: 80%; /* Could be more or less, depending on screen size */
}

.submit-button {
  margin-top: 20px;
  width: 25%;
  margin-left: auto; /* Center the button */
  margin-right: auto; /* Center the button */
  display: block; /* Make sure it's a block element */
}

.close {
  color: var(--grey-300);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--grey-900);
  text-decoration: none;
  cursor: pointer;
}

.drop-down {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--grey-200);
  border-radius: 4px;
  max-width: 400px;
}

.notes-textarea {
  width: 100%; /* Full width of the container */
  height: 250px; /* Set a fixed height */
  padding: 8px; /* Optional: Add some padding */
  border: 1px solid var(--grey-200);
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing, if desired */
}

/* EditContactList Styles - Modal */

.update-contact-modal {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  position: fixed; /* Fixed position to stay in place */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--grey-050);
  padding: 20px;
  border-radius: 8px;
  width: 80%; /* Adjust the width as needed */
  max-width: 500px; /* Maximum width */
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-content form {
  display: grid;
  grid-gap: 10px;
}

.modal-content label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="date"],
.modal-content textarea {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content textarea {
  resize: vertical; /* Allows vertical resizing */
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.modal-content button[type="submit"] {
  background-color: var(--cyan-400);
  color: white;
}

.modal-content button[type="button"] {
  background-color: var(--red-400);
  color: var(--grey-050);
}

.search-input {
  padding: 8px;
  margin: 10px;
  border: 1px solid var(--grey-200);
  border-radius: 4px;
}

.back-to-contacts {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: var(--grey-900);
  color: var(--grey-050); /* Assuming this is a variable for white color */
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Removes underline */
}

.back-to-contacts:hover {
  background-color: var(--grey-800);
  text-decoration: none; /* Ensures underline doesn't appear on hover */
  color: var(--grey-050);
}

/* JobList Styles - Modal */

.add-site-button {
  margin: 20px;
}

/* Journal Styles */

.journal-entry-content {
  height: 400px;
}

.table-journal-content {
  text-align: left; /* Align text to the left */
  vertical-align: top; /* Align text to the top of the cell */
  padding: 8px; /* Add some padding */
  word-wrap: break-word; /* To ensure words break and wrap onto the next line */
  white-space: pre-wrap; /* This will maintain any spaces and line bre*/
}
